/* COMMON */
html{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
}

/* Variables */
:root{
    /* Palette */
    --ms_dark-grey: #363636;
    --ms-light-grey: #BEBCBB;
    --ms-grey: #D9DADC;
    --ms-black: #1F1F1F;
    --ms-red: #CD3D0F;
    --ms-dark-blue: #161C3B;
}


/* Background */
.ms_bg-grey{
    background-color: var(--ms_dark-grey);
}

.ms_bg-light-grey{
    background-color: var(--ms-light-grey);
}

.ms_bg-red{
    background-color: var(--ms-red);
}

.ms_bg-black{
    background-color: var(--ms-black);
}

.ms_bg-dark-blue{
    background-color: var(--ms-dark-blue);
}

/* Buttons */
.ms_btn{
    border-radius: 20px;
}

.ms_bg-btn-grey{
    background-color: var(--ms-grey);
    color: blue;
}

/* HEADER */
.ms_header-top img{
    width: 100px;
}

/* MAIN */
/* Jumbotron */
#jumbotron{
    margin-top: 7em;
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    background-position-y: top;
}

#jumbotron img{
    width: 50%;
}

#jumbotron .container{
    padding-top: 20em;
    padding-bottom: 2em;
}

/* Section VideoGame */
.ms_videogame-list .col.ms_active .ms_inner-box{
    border: 2px solid blue;
}

/* Section Product ps5 */
.ms_ps5-list .col{
    opacity: .7;
}

.ms_ps5-list .col.ms_active{
    opacity: 1;
    border-bottom: 1px solid blue;
}

/* Section It Takes Two */
#it-takes-two{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    background-position-y: top;
}

#it-takes-two img{
    width: 60%;
}

/* Section Product PS4 */
#ps4 .card{
    border: none
}

/* Section Ps Plus */
#ps-plus-logo{
    width: 60%;
    margin-bottom: 1em;
}

/* Section PS Now */
#ps-now-logo{
    width: 60%;
    margin-bottom: 1em;
}


